# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
002_Code/EasyGTD/.vs/
002_Code/EasyGTD/EasyGTD/GeneratedFiles/Debug/moc_EasyGTD.cpp
002_Code/EasyGTD/EasyGTD/GeneratedFiles/ui_EasyGTD.h
002_Code/EasyGTD/EasyGTD/GeneratedFiles/qrc_EasyGTD.cpp
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/rc.write.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/rc.read.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/rc.command.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/link.write.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/link.read.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/link.command.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/EasyGTD.lastbuildstate
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/custombuild.write.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/custombuild.read.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/custombuild.command.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/CL.write.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/CL.read.1.tlog
002_Code/EasyGTD/EasyGTD/x64/Debug/EasyGTD.tlog/CL.command.1.tlog
